name: build-reverse-proxy
on:
  push:
    branches: [ "develop" ]
    paths:
      - "reverse-proxy/**"

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image name
        run: |
          REPO_NAME=$(echo "market-reverse-proxy" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME=${REPO_NAME}" >> $GITHUB_ENV

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            ${{ vars.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.SHORT_SHA }}

      - name: Trigger infra update
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.INFRA_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/daureslaurent/Market-Infra/dispatches \
            -d '{
              "event_type": "update-reverse",
              "client_payload": {
                "image": "${{ vars.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}",
                "tag": "${{ env.SHORT_SHA }}"
              }
            }'
